<!DOCTYPE html>
<html>

<head>
    <title>Reset Password - IndiTrend | India's Trending Fashion Hub</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./images/titlelogo_icon.ico">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Reset Password - IndiTrend | India's Trending Fashion Hub" />
    <meta name="lang" content="en" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="https://inditrend.in/resetpassword" />
    <meta property="og:image" content="https://inditrend.in/images/INDITRENDADJMAIN.png" />
    <meta property="og:site_name" content="IndiTrend" />

    <link rel="stylesheet" href="./assets/css/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom Theme files -->
    <script src="./assets/js/main.js"></script>
    <link rel="stylesheet" href="./assets/css/main.css">
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <script src="./script/app/userapp.js"></script>
    <script src="./script/models/useropmodel.js"></script>
    <script src="./script/controller/useropcltr.js"></script>
    <!-- <script src="./script/app/userapproutes.js"></script> -->
    <script src="./script/utils/interceptor.js"></script>
</head>

<body ng-app="inditrends_user">
    <div class="container" ng-controller="registercltr">
        <div class="resetpwdadj">
            <h3>Reset Password</h3>
        </div>
        <form ng-if="passwordreset" class="formreg module resetpwdformadj" name="phverf" novalidate>
            <div class="form-group">
                <label for="exampleInputPassword1">Phone Number</label>
                <input type="tel" class="form-control" id="exampleInputPassword1" required
                    placeholder="Enter Your (10-Digit) Phone Number" pattern="^[0-9]{10}" ng-model="registerphoneno">
                <small id="emailHelp" class="form-text text-muted">{{phoneverifycheck}}</small>
            </div>
            <div class="form-group" ng-if="registerphoneno.length == 10">
                <button id="sendotpadj" class="btn btn-outline-success" ng-click="getoptforreset(registerphoneno)">Send
                    OTP</button>
            </div>
            <div class="form-group" ng-if="registerphoneno.length == 10">
                <label for="exampleInput1">OTP</label>
                <input type="tel" class="form-control" id="exampleInput1" required placeholder="Enter OTP Here"
                    autocomplete="off">
                <small id="emailHelp2" class="form-text text-muted" style="color: red!important;"
                    ng-if="sendotp">{{otpverify}}</small>
            </div>
            <div class="form-group" ng-if="registerphoneno.length == 10">
                <button id="verifyotpbtn" class="btn btn-outline-info" ng-click="verifyotp(registerphoneno)">Verify
                    OTP</button>
                <button id="resendbtn" class="btn btn-dark" disabled
                    ng-click="getoptforreset(registerphoneno)">Resend</button>
                <p style="display: inline-block;" id="time"></p>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword13">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword13" required
                    placeholder="Enter Password" name="pwd" ng-model="pwd">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword14">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword14" required
                    placeholder="Enter Password" name="rpwd" ng-model="rpwd">
                <small id="emailHelp" class="form-text text-muted" style="color: red!important;"
                    ng-if="phverf.pwd.$modelValue!=phverf.rpwd.$modelValue">Password Didn't match</small>
            </div>
            <button type="submit" class="btn btn-warning" ng-click="resetpassword(pwd,phverf.$valid)">Submit</button>
            <span class="red-col">{{finalsubmit}}</span>
        </form>
        <div ng-if="!passwordreset">
            <h5>Password Change Successfully.</h5>
            <p>Window will close in 5s</p>
            <a href="/userauth/login">Log In</a>
        </div>
    </div>

</body>

</html>