<!DOCTYPE html>
<html>

<head>
	<script data-ad-client="ca-pub-4370747972986025" async
		src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-181041124-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-181041124-1');
	</script>
	<title>IndiTrend | India's Trending Fashion Hub</title>
	<link rel="icon" type="image/png" sizes="16x16" href="./images/titlelogo_icon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta property="og:title" content="IndiTrend | India's Trending Fashion Hub" />
	<meta name="lang" content="en" />
	<meta name="description"
		content="Latest Collection of Premium Quality T Shirts, SweatShirts, Hoodies at Affordable Prices for Men and Women available online in India at IndiTrend. COD Available| Easy Return Policy| Secure Payments" />
	<meta property="og:type" content="product" />
	<meta property="og:url" content="https://inditrend.in" />
	<meta property="og:image" content="https://inditrend.in/images/titlelogo_icon.ico" />
	<meta property="og:site_name" content="IndiTrend" />
	<meta property="og:description"
		content="Latest Collection of Premium Quality T Shirts, SweatShirts, Hoodies at Affordable Prices for Men and Women available online in India at IndiTrend. COD Available| Easy Return Policy| Secure Payments" />
	<meta name="keywords"
		content="IndiTrend,inditrend,INDITREND,INDItrend,indiTrend,Indian,Indian trending products,Trending,Indi Trends, Indi Trend, India Trend,India Trending,T shirts,hoodies,sweatshirts,full sleeves t Shirts,T shirts men,men hoodies,men sweatshirts,men full sleeves t Shirts,women T shirts,women hoodies,women sweatshirts,women 3/4th sleeves t Shirts,cotton t shirts, pure cotton cloths, T shirts for men and women, print on demand, crop top for women, summer wear,summer cloths, winter wear,winter cloths, trending t shirts, newest t shirts, cotton t shirts, FRIENDS t shirt,FRIENDS hoodies,FRIENDS sweatshirt,FRIENDS crop top,Game of Threones t shirt,Game of Threones hoodies,Game of Threones sweatshirt,marvel t shirt,avengers t shirt, DC t shirts, cartoon t shirts, plain t shirts, plain hoodies, plain sweatshirts, plain crop top, tees">


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<link rel="stylesheet" href="./assets/css/style-starter.css">
	<link href="./assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="./assets/css/footer.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="./bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
	<link rel="stylesheet" href="./bower_components/owl.carousel/dist/assets/owl.theme.default.css" />
	<link rel="stylesheet" href="./assets/css/fontawesome-free-5.14.0-web/css/all.min.css">
	<link rel="stylesheet" href="./assets/css/csssidebar/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="./assets/css/csssidebar/animate.css">
	<link rel="stylesheet" href="./assets/css/csssidebar/style.css">
	<link rel="stylesheet" href="./assets/css/csssidebar/media-queries.css">
	<link rel="stylesheet" href="./assets/css/style-starter.css">
	<script src="./assets/js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<script type="text/javascript" src="./assets/js/bootstrap-3.1.1.min.js"></script>
	<link href="./assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Custom Theme files -->
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
	<!-- cart -->
	<script src="./assets/js/simpleCart.min.js"> </script>
	<!-- cart -->
	<link rel="stylesheet" href="./assets/css/flexslider.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="./assets/css/main.css">
	<!-- Favicon and touch icons -->
	<link rel="stylesheet" href="./assets/css/rating.css">
	<style>
		img {
			max-width: none;
		}

		.modal {
			display: none;
			/* Hidden by default */
			position: fixed;
			/* Stay in place */
			z-index: 30;
			/* Sit on top */
			padding-top: 100px;
			/* Location of the box */
			left: 0;
			top: 0;
			width: 100%;
			/* Full width */
			height: 100%;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.9);
			/* Black w/ opacity */
		}

		/* Modal Content (image) */
		.modal-content {
			margin: auto;
			display: block;
			width: 80%;
			max-width: 700px;
		}

		/* Caption of Modal Image */
		#caption {
			margin: auto;
			display: block;
			width: 80%;
			max-width: 700px;
			text-align: center;
			color: #ccc;
			padding: 10px 0;
			height: 150px;
		}

		/* Add Animation */
		.modal-content,
		#caption {
			-webkit-animation-name: zoom;
			-webkit-animation-duration: 0.6s;
			animation-name: zoom;
			animation-duration: 0.6s;
		}

		@-webkit-keyframes zoom {
			from {
				-webkit-transform: scale(0)
			}

			to {
				-webkit-transform: scale(1)
			}
		}

		@keyframes zoom {
			from {
				transform: scale(0)
			}

			to {
				transform: scale(1)
			}
		}

		/* The Close Button */
		.close {
			position: absolute;
			top: 15px;
			right: 35px;
			color: #f1f1f1;
			font-size: 40px;
			font-weight: bold;
			transition: 0.3s;
		}

		.close:hover,
		.close:focus {
			color: #bbb;
			text-decoration: none;
			cursor: pointer;
		}

		/* 100% Image Width on Smaller Screens */
		@media only screen and (max-width: 700px) {
			.modal-content {
				width: 100%;
			}
		}
	</style>
	<!------------------ Angular scripts--------- -->
	<script src="./bower_components/angular/angular.min.js"></script>
	<script src="./bower_components/angular-route/angular-route.min.js"></script>
	<script src="./script/app.js"></script>
	<script src="./script/models/singlemodel.js"></script>
	<script src="./script/models/headermodel.js"></script>
	<script src="./script/models/productmodel.js"></script>
	<script src="./script/controller/headercltr.js"></script>
	<script src="./script/controller/singlecltr.js"></script>
	<script src="./script/utils/interceptorindi.js"></script>
</head>

<body ng-app="inditrends">
	<div class="content-wrapperadj" ng-controller="singlecltr">
		<!-- header-section-starts -->
		<div class="content-headderadj" ng-controller="headercltr" ng-cloak>
			<!-- Sidebar -->
			<nav class="sidebar light">
				<!-- close sidebar menu -->
				<div class="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div>
				<div ng-if="!userlogin">
					<div class="container logo-header123">
						<img src="./images/titlelogo.png" alt="IndiTrend logo">
						<h1 class="navsidewel"><strong>Welcome to IndiTrend</strong></h1>
					</div>
					<div class="container">
						<div class="flex flex-hd">
							<div>
								<a class="btn btn-neutral" href="/userauth/login" role="button">Log In</a>
							</div>
							<div>
								<a class="btn btn-neutral" href="/userauth/register" role="button">Register</a>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="userlogin">
					<div class="container logo-header123">
						<a href="/userprofile">
							<div class="profilepic">
								<img src={{userdta.profilepic}} alt="IndiTrend user profile pic">
							</div>
						</a>
						<h1 class="navsidewel"><strong>{{userdta.name}},</strong></h1>
						<h1 class="navsidewel"><strong>Welcome to IndiTrend</strong></h1>
					</div>
					<div class="container">
						<div class="flex">
							<div>
								<button class="btn btn-neutral" role="button" ng-click="logout()">Log Out</button>
							</div>
						</div>
					</div>
				</div>

				<ul class="list-unstyled borderbottomhead">
					<li>
						<a href="/"><strong><i class="fas fa-store anchortagcol"></i> Home</strong></a>
					</li>
					<li>
						<a data-target="#otherSections" data-toggle="collapse" aria-expanded="false"
							class="dropdown-toggle" role="button" aria-controls="otherSections">
							<strong><i class="fas fa-cloud-meatball" style="color: rgb(86, 64, 185);"></i> MEN</strong>
						</a>
						<ul class="collapse list-unstyled" id="otherSections">
							<li>
								<a class="bacnone1" href="/categories?id=men-full-sleeves&sortby=1">Full Sleeves
									T-Shirts</a>
							</li>
							<li>
								<a class="bacnone1" href="/categories?id=men-raglan-tshirts&sortby=1">Raglan
									T-Shirts</a>
							</li>
							<li>
								<a class="bacnone1" href="/categories?id=men-hoodies&sortby=1">Hoodies</a>
							</li>
							<li>
								<a class="bacnone1" href="/categories?id=men-sweatshirts&sortby=1">SweatShirts</a>
							</li>
						</ul>
					</li>
					<li>
						<a data-target="#otherSections1" data-toggle="collapse" aria-expanded="false"
							class="dropdown-toggle" role="button" aria-controls="otherSections1">
							<strong><i class="fas fa-female" style="color: palevioletred;"></i> WOMEN</strong>
						</a>
						<ul class="collapse list-unstyled" id="otherSections1">
							<li>
								<a class="bacnone"
									href="/categories?id=women-3-4-sleeves-tshirt&sortby=1">3/4<sup>th</sup> Sleeves
									T-shirts</a>
							</li>
							<li>
								<a class="bacnone" href="/categories?id=women-hoodies&sortby=1">Hoodies</a>
							</li>
							<li>
								<a class="bacnone" href="/categories?id=cropped-hoodies&sortby=1">Crop Hoodies</a>
							</li>
							<li>
								<a class="bacnone" href="/categories?id=women-sweatshirts&sortby=1">SweatShirts</a>
							</li>
						</ul>
					</li>
					<li>
						<a data-target="#otherSections2" data-toggle="collapse" aria-expanded="false"
							class="dropdown-toggle" role="button" aria-controls="otherSections2">
							<strong><i class="fas fa-award" style="color: #104436;"></i> Special Categories</strong>
						</a>
						<ul class="collapse list-unstyled" id="otherSections2">
							<li>
								<a class="bacnone2" href="/categories?id=friends-merchandise&sortby=1">F.R.I.E.N.D.S
									<sup style="color: #DC0000;"><strong>NEW</strong></sup></a>
							</li>
							<li>
								<a class="bacnone2" href="/categories?id=game-of-thrones-merchandise&sortby=1">Game of
									Thrones <sup style="color: #DC0000;"><strong>NEW</strong></sup></a>
							</li>
						</ul>
					</li>
					<li>
						<a class="" href="/categories?id=Trending&sortby=1"><strong><i
									class="fas fa-chart-line red-col"></i>
								Trending
								Products</strong></a>
					</li>
					<li>
						<a class="" href="/categories?id=Top&sortby=1">
							<strong><i class="fas fa-sort-amount-up green-col"></i>Top
								Products</strong>
						</a>
					</li>
				</ul>
				<ul class="list-unstyled borderbottomhead">
					<li>
						<a class="" href="/myorders"><strong><i class="fas fa-shopping-bag brownama"></i> My
								Orders</strong></a>
					</li>
					<li>
						<a class="" href="/viewcart"><strong><i class="fas fa-shopping-cart anchortagcol"></i> My
								Cart</strong></a>
					</li>
					<li>
						<a href="/wishlist"><strong><i class="fas fa-heart redama"></i> My
								Wishlist</strong></a>
					</li>
					<li>
						<a href="/userprofile"><strong><i class="fas fa-user anchortagcol"></i> My
								Account</strong></a>
					</li>
				</ul>
				<ul class="list-unstyled borderbottomhead">
					<li>
						<a href="/termsofservices"><strong><i class="fab fa-servicestack yellama"></i>Terms of
								Service</strong></a>
					</li>
					<li>
						<a href="/privacypolicy"><strong><i class="fas fa-cog blama"></i>Privacy Policy</strong></a>
					</li>
					<li>
						<a href="/contactUs"><strong><i class="fas fa-address-card yellama"></i> Contact
								Us</strong></a>
					</li>
					<li>
						<a href="/shippingpolicy"><strong><i class="fas fa-file-contract blama"></i>
								Shipping Policy</strong></a>
					</li>
					<li>
						<a href="/refundpolicy"><strong><i class="fas fa-envelope yellama"></i>Refund
								Policy</strong></a>
					</li>
				</ul>
			</nav>
			<!-- End sidebar -->
			<!-- Dark overlay -->
			<div class="overlay"></div>
			<!-- header-section-ends -->
			<div id="myHeadertopadj" class="banner-top">
				<div>
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<div>
							<form class="form-inline">
								<button class="btn btn-m btn-neutral btn-neutral open-menu menu-btn-cust"
									type="button"><i class="fas fa-bars"></i> <span
										class="full-text">Menu</span></button>
								<a class="navbar-brand nav-imga" href="/">
									<img src="./images/logonew-removebg-preview.png"
										class="d-inline-block align-top logocl" alt="INDITREND main logo">
								</a>
							</form>
						</div>
						<div class="cartbtn">
							<span class="cartcounteradj"
								ng-if="userdta.cart.product.length>0">{{userdta.cart.product.length}}</span>
							<a class="btn" type="button" href="/viewcart"><i class="fas fa-shopping-cart"></i> Cart</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!-- content-section-starts -->
		<div class="content-contentadj">
			<div class="container">
				<div id="myModal" class="modal">
					<span class="close">&times;</span>
					<img class="modal-content" id="img01" alt="IndiTrend Latest fashion Product Image">
					<div id="caption"></div>
				</div>
				<div class="contentnotfy notificationmsg" ng-cloaks> {{notifymsg}} </div>
				<div class="products-page">
					<div class="products">
						<div class="product-listy product-listy1234">
							<h2>All Categories</h2>
							<ul class="product-list">
								<li><a href="/categories?id=Trending&sortby=1">Trending</a></li>
								<li><a href="/categories?id=Top&sortby=1">Top</a></li>
								<li ng-repeat="l in productdetails.category track by $index"><a
										href="/categories?id={{l}}&sortby=1">{{l}}</a></li>
							</ul>
						</div>
						<div class="product-listy1234">
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- singleside -->
							<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4370747972986025"
								data-ad-slot="7755678850" data-ad-format="auto" data-full-width-responsive="true"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
					<div>
						<div class="col-12">
							<a href="https://api.whatsapp.com/send?phone=919971392910&text={{whatsapptext}}"><i
									class="fab fa-whatsapp"
									style="color: green; font-size: 25px; padding: 10px;"></i><span
									class="borderblueadjspan">Ask your Query on WhatsApp</span></a>
						</div>
						<div>
						</div>
					</div>
					<div class="new-product" ng-cloaks>
						<div class="col-md-5 zoom-grid">
							<div class="wislistclass">
								<span ng-if="wishlisthrt.indexOf(productdetails.prdid) == -1">Add to WishList</span>
								<button class="wishlistadjbtn" ng-if="wishlisthrt.indexOf(productdetails.prdid) == -1"
									ng-click="addprdtowishlis(productdetails.prdid)">
									<i class="far fa-heart" alt="{{productdetails.description}}"></i>
								</button>
								<button class="wishlistadjbtn" ng-if="wishlisthrt.indexOf(productdetails.prdid) > -1"
									ng-click="removeprdtowishlis(productdetails.prdid)">
									<i class="fas fa-heart" alt="{{productdetails.description}}"></i>
								</button>
							</div>
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active" data-interval="50000">
										<img src={{productdetails.images[1]}} class="myImg d-block w-100"
											alt="{{productdetails.name}}">
									</div>
									<div class="carousel-item" data-interval="50000"
										ng-repeat="l in productdetails.images track by $index" ng-if="$index >1">
										<img id="{{$index}}" src={{l}} class="d-block w-100"
											alt="{{productdetails.name}}" onclick="imageClicked(this.id)">
									</div>
								</div>
							</div>
							<div class="flex" id="imgslidesadj">
								<div data-target="#carouselExampleIndicators" data-slide-to="0"
									class="active slidesadjimg">
									<img src={{productdetails.images[1]}} alt="{{productdetails.metadescription}}">
								</div>
								<div data-target="#carouselExampleIndicators" data-slide-to="{{$index-1}}"
									class="slidesadjimg" ng-repeat="l in productdetails.images track by $index"
									ng-if="$index >1">
									<img src={{l}} alt="{{productdetails.metadescription}}">
								</div>
							</div>
						</div>
						<div class="col-md-7 dress-info" ng-cloaks>
							<div class="dress-name productinfoadj">
								<div class="outstocksingleadj" ng-if="!productdetails.stocks"><img
										src="./images/outstock.png" alt="{{productdetails.name}} Out of Stock">
								</div>
								<span class="saleoptionadj" ng-if="productdetails.salestat"><i class="fas fa-bolt"></i>
									Sale <i class="fas fa-bolt"></i></span>
								<h3>{{productdetails.name}}</h3>
								<span class="productinfopriceadj">₹ {{productdetails.total}}
									<strike class="str-clssadj"
										ng-if="!productdetails.salestat">{{((productdetails.total)*100)/(100-productdetails.extraprice)
										| number:0}}</strike>
									<strike class="str-clssadj"
										ng-if="productdetails.salestat">{{((productdetails.total--productdetails.sale_price)*100)/(100-productdetails.extraprice)
										| number:0}}</strike>
									<strong class="disoff"
										ng-if="!productdetails.salestat">{{productdetails.extraprice}}% off</strong>
									<strong class="disoff"
										ng-if="productdetails.salestat">{{(((((productdetails.total--productdetails.sale_price)*100)/(100-productdetails.extraprice))
										-
										productdetails.total)*100)/(((productdetails.total--productdetails.sale_price)*100)/(100-productdetails.extraprice))|
										number:0}}%
										off</strong>
									<p>Limited Period Offer</p>
								</span>
								<div class="productinfopricesaleadj" ng-if="productdetails.salestat" ng-cloaks>
									<p>Original Price</p>
									<span class="priceorprice">₹ {{productdetails.total--productdetails.sale_price}}
										<strike
											class="str-clssadj">{{((productdetails.total--productdetails.sale_price)*100)/(100-productdetails.extraprice)
											| number:0}}</strike>
										<strong class="disoff">{{productdetails.extraprice}}% off</strong></span>
								</div>
								<span class="ratingadj"><span class="ratingcircle">{{ratingavg | number:1}}
										<i class="fas fa-star"></i></span>
									<p>{{productdetails.review.length}} ratings</p>
								</span>
								<div class="clearfix"></div>
							</div>
							<div class="span span1 row sizeadj">
								<p class="left col-4">SELECT SIZE</p>
								<p class="col-4">
									<span class="selection-box">
										<select class="domains valid" name="domains" ng-init="val=''"
											ng-model="sizeseletced">
											<option value="" hidden>Size</option>
											<option value="{{l}}" ng-repeat="l in productdetails.size track by $index">
												{{l}}
											</option>
										</select>
									</span>
								</p>
								<p class="col-4 last">
									<img id="sizechart" src={{size_chart}} class="d-block w-100 sizechrtimg">
									<a onclick="imageClicked('sizechart')">Size Guide</a>
								</p>
								<div class="clearfix"></div>
							</div>
							<div class="container span2 colorheadadj" ng-if="productdetails.colour.length > 0">
								<h3>colour</h3>
								<div class="container">
									<div class="row">
										<div class="coloursadj border-active">
											<a href="/productpage?pid={{productdetails.prdid}}"><img
													src={{productdetails.images[0]}} alt="{{productdetails.name}}"></a>
										</div>
										<div class="coloursadj" ng-repeat="l in coloursprds track by $index">
											<a href="/productpage?pid={{l.prdid}}"><img src={{l.images[0]}}
													alt="{{l.name}}"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="purchase">
								<span style="color: lightseagreen;" ng-if="cartaddstat">Successfully Added to
									Cart</span>
								<span style="color: red;" ng-if="sizestat">{{errmsg}}</span>
								<div class="flex cartbuy">
									<button class="btn btn-warning buttonadj" ng-if="!addtocartnowclicked"
										ng-disabled="!productdetails.stocks"
										ng-click="addtocart(sizeseletced,productdetails.prdid)"><i
											class="fas fa-cart-arrow-down"></i>
										Add to cart
									</button>
									<button class="btn btn-warning buttonadj" ng-if="addtocartnowclicked"
										ng-disabled="!productdetails.stocks || productdetails.stocks">
										<div class="spinner-border text-light" role="status">
											<span class="sr-only">Loading...</span>
										</div>
									</button>
									<button class="btn btn-info buttonadj"
										ng-click="buynow(sizeseletced,productdetails.prdid)"
										ng-disabled="!productdetails.stocks" ng-if="!bynowclicked"><i
											class="fas fa-shopping-bag"></i> Buy
										now</button>
									<button class="btn btn-info buttonadj" ng-if="bynowclicked"
										ng-disabled="!productdetails.stocks || productdetails.stocks">
										<div class="spinner-border text-light" role="status">
											<span class="sr-only">Loading...</span>
										</div>
									</button>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="span span3 servicesadj">
								<p class="ser">Services</p>
								<p class="shipadj" ng-if="productdetails.shipping_price==0"><i
										class="fas fa-shipping-fast"></i> <span class="green-col">Free</span>
									Shipping
									by
									IndiTrend</p>
								<p class="shipadj" ng-if="productdetails.shipping_price!=0"><i
										class="fas fa-shipping-fast"></i> ₹ {{productdetails.shipping_price}} |
									Shipping
									charges(Included in Price)</p>
								<p class="returnpol"><span style="color: green;"><i
											class="far fa-money-bill-alt"></i></span> Cash on Delivery is available.</p>
								<p class="returnpol"><span style="color: green;">✔</span> Guaranteed Safe
									Checkout</p>
								<p class="returnpol"><i class="fas fa-exchange-alt" style="color: darkred;"></i> 7 Days
									Return policy <a href="/refundpolicy"><i class="fas fa-arrow-circle-right"></i></a>
								</p>
								<p class="returnpol" style="margin-bottom: 25px;"><i class="fas fa-graduation-cap"
										style="color: darkslateblue;"></i> Top Quality
									Guaranteed </p>
								<p style="margin-bottom: 25px;">
									<script async
										src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
									<ins class="adsbygoogle" style="display:block" data-ad-format="fluid"
										data-ad-layout-key="-a0+ag+18-29-l" data-ad-client="ca-pub-4370747972986025"
										data-ad-slot="3403695831"></ins>
									<script>
										(adsbygoogle = window.adsbygoogle || []).push({});
									</script>
								</p>
								<div class="clearfix"></div>
							</div>
							<!-- <div class="span span4 servicesadj adsstyle1">
								
							</div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="reviews-tabs" ng-cloaks>
						<ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
							<li class="test-class active"><a class="deco-none misc-class" href="#how-to"> More
									Information</a></li>
							<li class="test-class"><a class="deco-none" href="#source">Reviews
									({{productdetails.review1.length}})</a></li>
						</ul>
						<div class="tab-content responsive hidden-xs hidden-sm">
							<div class="tab-pane  moreinfco active" id="how-to">
								<p style="white-space: pre-line"
									ng-repeat="l in productdetails.description track by $index">{{l}} <br><br></p>
							</div>
							<div class="tab-pane" id="source">
								<div class="response">
									<div class="media response-info"
										ng-repeat="l in productdetails.review1 track by $index">
										<div class="media-left response-text-left">
											<h5><a href="#">{{getFirstPropertyKey(l).slice(0,8)}}</a></h5>
										</div>
										<div class="media-body response-text-right">
											<div>
												<span class="fa fa-star checked"
													ng-repeat="n in range(1,getFirstPropertyValue(l))"
													style="padding-right: 5px;"></span>
												<span class="fa fa-star"
													ng-repeat="n in range(getFirstPropertyValue(l),4)"
													style="padding-right: 5px;"></span>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="container" style=" margin-top: 15px; margin-bottom: 15px;">
				<div>
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- singlelast -->
					<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4370747972986025"
						data-ad-slot="4786788636" data-ad-format="auto" data-full-width-responsive="true"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
			<div class="container" ng-cloak>
				<div class="relatedhearer">
					<h3>Related Products</h3>
					<p>Check Out Similar Products</p>
					<p class="viewall"><a href="/categories?id={{selectedcateg}}&sortby=1">View All</a></p>
				</div>
				<div class="relatedcontent">
					<div class="row">
						<div class="relatedimg col-sm-6 col-lg-3 col-md-4" ng-repeat="l in relatedprds track by $index"
							style="margin-bottom: 25px; margin-top: 10px;">
							<div ng-if="l.ads == false">
								<a href="/productpage?pid={{l.prdid}}"><img src={{l.images[0]}} alt="{{l.name}}"
										class="imgmaxheight imgmaxwidth"></a>
								<div class="sale1234" ng-if="l.salestat"><img src="./images/sale.png"
										alt="{{l.description}}"></div>
								<div class="outstockadj1234" ng-if="!l.stocks"><img src="./images/outstock.png"
										alt="{{l.description}}">
								</div>
								<div class="relatednps">
									<a href="/productpage?pid={{l.prdid}}">
										<h3 class="namerelprdadj">{{l.name}}</h3>
									</a>
									<span class="productinfopriceadj">₹ {{l.total}} <strike class="str-clss"
											ng-if="!l.salestat">{{((l.total)*100)/(100-l.extraprice) |
											number:0}}</strike>
										<strike class="str-clss"
											ng-if="l.salestat">{{((l.total--l.sale_price)*100)/(100-l.extraprice) |
											number:0}}</strike>
										<strong class="disoff" ng-if="!l.salestat">{{l.extraprice}}% off</strong>
										<strong class="disoff"
											ng-if="l.salestat">{{(((((l.total--l.sale_price)*100)/(100-l.extraprice)) -
											l.total)*100)/(((l.total--l.sale_price)*100)/(100-l.extraprice))|
											number:0}}%
											off</strong>
									</span>
								</div>
							</div>
							<div ng-if="l.ads == true">
								<div google-adsense>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-section-ends -->
			</div>
		</div>
		<div class="container">
		</div>
		<div class="content-footeradj">
			<div class="news-letter">
				<div class="container">
					<p>For Any Query Or Help : <a href="/contactUs" class="blama">Contact Us</a> via <i
							class="fab fa-whatsapp" style="color: green; font-size: 20px; padding: 10px;"></i> <a
							class="blama"
							href="https://api.whatsapp.com/send?phone=919971392910&text=Hey%2C%0Ainditrend.in%0APlease%20resolve%20my%20query%3F">WhatsApp</a>
						or <i class="fas fa-envelope"
							style="color: rgba(252, 70, 107, 1); font-size: 20px; padding: 10px;"></i> <a class="blama"
							href="mailto:users.inditrends@gmail.com">Email</a></p>
				</div>
			</div>
			<div class="footer">
				<div class="container">
					<div class="footer_top">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 span1_of_4 footerdivss">
								<h6>MEN</h6>
								<ul class="f_nav">
									<!-- <li><a href="#">men</a></li> -->
									<li><a href="/categories?id=men-full-sleeves&sortby=1">Full Sleeves T-Shirts</a>
									</li>
									<li><a href="/categories?id=men-raglan-tshirts&sortby=1">Raglan T-Shirts</a></li>
									<li><a href="/categories?id=men-hoodies&sortby=1">Hoodies</a></li>
									<li><a href="/categories?id=men-sweatshirts&sortby=1">SweatShirts</a></li>

								</ul>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 span1_of_4 footerdivss">
								<h6>WOMEN</h6>
								<ul class="f_nav">
									<!-- <li><a href="#">men</a></li> -->
									<li><a href="/categories?id=women-3-4-sleeves-tshirt&sortby=1">3/4<sup>th</sup>
											Sleeves T-shirts</a></li>
									<li><a href="/categories?id=women-hoodies&sortby=1">Hoodies</a></li>
									<li><a href="/categories?id=cropped-hoodies&sortby=1">Crop Hoodies</a></li>
									<li><a href="/categories?id=women-sweatshirts&sortby=1">SweatShirts</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 span1_of_4 footerdivss">
								<h6>User</h6>
								<ul class="f_nav">
									<li><a href="/userauth/register">Signup</a></li>
									<li><a href="/userauth/login">Login</a></li>
									<li><a href="/wishlist">wishlist</a></li>
									<li><a href="/viewcart">Cart</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 span1_of_4 footerdivss">
								<h6>Legal</h6>
								<ul class="f_nav">
									<li><a href="/sitemap">Site Map</a></li>
									<li><a href="/termsofservices">Terms of Services</a></li>
									<li><a href="/privacypolicy">Privacy Policy</a></li>
									<li><a href="/contactUs">Contact Us</a></li>
									<li><a href="/shippingpolicy">Shipping Policy</a></li>
									<li><a href="/refundpolicy">Refund Policy</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 span1_of_4 footerdivss">
								<h6>Special Categories</h6>
								<ul class="f_nav">
									<!-- <li><a href="#">men</a></li> -->
									<li><a href="/categories?id=friends-merchandise&sortby=1">F.R.I.E.N.D.S</a>
									</li>
									<li><a href="/categories?id=game-of-thrones-merchandise&sortby=1">Game of
											Thrones</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 span1_of_4 footerdivss">
								<!-- <h4>Special Categories</h4> -->
								<br>
								<br>
								<ul class="f_nav">
									<!-- <li><a href="#">men</a></li> -->
									<li><a href="/"><i class="fas fa-undo-alt"></i> 7 Days Return Policy</a></li>
									<li><a href="/"><i class="fas fa-wallet"></i> Cash on Delivery</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 span1_of_4 footerdivss">
								<h6>Connect with Us</h6>
								<ul class="f_nav">
									<!-- <li><a href="#">men</a></li> -->
									<li><a href="https://www.facebook.com/IndiTrendin"><i class="fab fa-facebook"></i>
											Facebook</a></li>
									<li><a href="https://www.instagram.com/inditrend.in"><i
												class="fab fa-instagram"></i> Instagram</a></li>
								</ul>
							</div>
						</div>
						<div class="cards text-center">
							<p style="margin-right: 15px;margin-bottom: 10px;">100% Secure Payment</p>
							<div class="row">
								<div class="col-lg-2 col-sm-4">
									<img src="images/Razorpay.jpg" alt="Razorpay payment gateway"
										style="width: 100%; " />
								</div>
								<div class="col-lg-9 col-sm-8">
									<img src="images/cards.jpg" alt="cards">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				setTimeout(function () {
					$(".contentnotfy").fadeOut(1);
				}, 1);
			});
		</script>
		<script>
			window.onscroll = function () { myFunction() };

			var header = document.getElementById("myHeadertopadj");
			var sticky = header.offsetTop + 100;

			function myFunction() {
				if (window.pageYOffset > sticky) {
					header.classList.add("sticky");
				} else {
					header.classList.remove("sticky");
				}
			}
		</script>
		<script>
			var modal = document.getElementById("myModal");
			var img = document.querySelector(".myImg");
			var modalImg = document.getElementById("img01");
			var captionText = document.getElementById("caption");
			function imageClicked(id) {
				var ele = document.getElementById(id);
				modal.style.display = "block";
				modalImg.src = ele.src;
				captionText.innerHTML = ele.alt;
			}
			img.onclick = function () {
				modal.style.display = "block";
				modalImg.src = this.src;
				captionText.innerHTML = this.alt;
			}
			var span = document.getElementsByClassName("close")[0];
			span.onclick = function () {
				modal.style.display = "none";
			}

		</script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
		<script src="./assets/js/jssidebar/jquery.backstretch.min.js"></script>
		<script src="./assets/js/jssidebar/wow.min.js"></script>
		<script src="./assets/js/jssidebar/waypoints.min.js"></script>
		<script src="./assets/js/jssidebar/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="./assets/js/jssidebar/scripts.js"></script>
		<script src="./assets/js/responsive-tabs.js"></script>
		<script type="text/javascript">
			$('#myTab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});

			$('#moreTabs a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});

			(function ($) {
				// Test for making sure event are maintained
				$('.js-alert-test').click(function () {
					alert('Button Clicked: Event was maintained');
				});
				fakewaffle.responsiveTabs(['xs', 'sm']);
			})(jQuery);

		</script>

</body>

</html>